ul.notification-list
	width: 100%;
	padding: 2px 0;
	margin: 0;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px;
	li.notif
		color: #3e3e3e;
		width: 100%;
		padding: 10px;
		margin: 0;
		min-height: 50px;
		float: none;
		border-bottom: 1px solid #E4E4E4;
		overflow: hidden
		.image 
			height: 60px;
			float: left;
			margin: 0 2px;
			img
				height: 100%;
				width: auto;
		figure
			margin: 0 0 0 50px;
			.notice
				color: black;
				font-size: 16px;
				font-weight: 600;
				font-family: sans-serif;
				text-align: left;
				margin: 5px 0 0 5px;
			.description
				color: #000;
				font-size: small;
				font-weight: 500;
				font-family: sans-serif;
				text-align: left;
				margin: 0px 0 0 5px;
			.meta
				font-size: x-small;
				font-family: sans-serif;
				margin: 0px 0 0 5px;
				text-align: left;
	li.notif:hover
		color: #3e3e3e
		background: #F9F9F9;
		border-radius: 0;
		padding: 10px;
		margin: 0;
		border: 0;
		border-bottom: 1px solid #E4E4E4;