script(src="/javascript/jquery.min.js")
script(src="/javascript/jquery.timeago.js")
script(src="/javascript/js.cookie.js")
script(src="/javascript/emoji.js")
script(src="/javascript/ajaxsubmit.js")
script(src="/socket.io/socket.io.js")
script(src="/main.js")
script(src="/modules/login.js")
script(src="/modules/post.js")
script(src="/modules/signup.js")
script(src="/modules/reactions.js")
script(src="/modules/profile.js")
script(src="/modules/notifications.js")