doctype
html
	head
		title #{title}
		link(rel="stylesheet" href="/stylus/index.css")
		link(rel="stylesheet" href="/stylus/1180.min.css")
		link(rel="stylesheet" href="/icons/css/font-awesome.min.css")
	body