form.login( action='/login' method='post' ).login-form
	input( type='text' name='email' id='email' placeholder='Email or Username' ).email
	input( type='password' name='password' id='password' placeholder='Password' ).password
	button( type='submit' ).login-button Login