.bubble-menu
	ul
		li
			a( href="/logout" ) 
				i( class="fa fa-user" )
				span Profile
				i( class="caret fa fa-angle-right" )
			ul.bubble-sub
				li
					a( href="/logout" ) 
						i( class="fa fa-child" )
						span Friends
				li
					a( href="/logout" ) 
						i( class="fa fa-key" )
						span Privacy
		li.divider
		li
			a( href="/logout" ) 
				i( class="fa fa-sliders" )
				span Settings 
		li
			a( href="/logout" ) 
				i( class="fa fa-sign-out" )
				span Logout