.bubble
	ul.notification-list
		each notification in [1,2,3,4,5]
			li.notif
				div.image
					img( src="liam.jpg" class="notification-image" )
				figure
					div.notice Notification 1
					div.description Notification from Liam Hogan
					div.meta 2 minutes ago
