html
    script( src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js" )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js" )
    script( src="/app.js" )
        
body
    div(id="root")
